In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('/kaggle/input/demand-forecasting/train_0irEZ2H.csv')

In [3]:
df.head(3)

,record_ID,week,store_id,sku_id,total_price,base_price,is_featured_sku,is_display_sku,units_sold
0,1,17/01/11,8091,216418,99.0375,111.8625,0,0,20
1,2,17/01/11,8091,216419,99.0375,99.0375,0,0,28
2,3,17/01/11,8091,216425,133.9500,133.9500,0,0,19

In [4]:
df[['day','month','year']] = df['week'].str.split('/',expand=True)

In [5]:
df.head(5)

,record_ID,week,store_id,sku_id,total_price,base_price,is_featured_sku,is_display_sku,units_sold,day,month,year
0,1,17/01/11,8091,216418,99.0375,111.8625,0,0,20,17,01,11
1,2,17/01/11,8091,216419,99.0375,99.0375,0,0,28,17,01,11
2,3,17/01/11,8091,216425,133.9500,133.9500,0,0,19,17,01,11
3,4,17/01/11,8091,216233,133.9500,133.9500,0,0,44,17,01,11
4,5,17/01/11,8091,217390,141.0750,141.0750,0,0,52,17,01,11

In [6]:
df = df.drop('week',axis =1 )

In [7]:
df

,record_ID,store_id,sku_id,total_price,base_price,is_featured_sku,is_display_sku,units_sold,day,month,year
0,1,8091,216418,99.0375,111.8625,0,0,20,17,01,11
1,2,8091,216419,99.0375,99.0375,0,0,28,17,01,11
2,3,8091,216425,133.9500,133.9500,0,0,19,17,01,11
3,4,8091,216233,133.9500,133.9500,0,0,44,17,01,11
4,5,8091,217390,141.0750,141.0750,0,0,52,17,01,11
...,...,...,...,...,...,...,...,...,...,...,...
150145,212638,9984,223245,235.8375,235.8375,0,0,38,09,07,13
150146,212639,9984,223153,235.8375,235.8375,0,0,30,09,07,13
150147,212642,9984,245338,357.6750,483.7875,1,1,31,09,07,13
150148,212643,9984,547934,141.7875,191.6625,0,1,12,09,07,13
150149,212644,9984,679023,234.4125,234.4125,0,0,15,09,07,13

In [8]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [9]:
x , y = df.drop('units_sold',axis = 1) , df['units_sold']
x_train ,x_test , y_train ,y_test = train_test_split(x,y , test_size=0.2)

In [10]:
model = RandomForestRegressor(n_jobs=1)
model.fit(x_train,y_train)

ValueError: Input X contains NaN.
RandomForestRegressor does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [ ]:
model.score(x_test,y_test)

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
y_pred = model.predict(x_test)
mse = mean_squared_error(y_pred,y_test)

In [ ]:
mse

In [ ]:
df.units_sold.describe()

In [ ]:
df.units_sold.hist()

In [ ]:
plt.scatter(y_pred,y_test)
plt.plot(np.linspace(y_pred.min(), y_pred.max()), np.linspace(y_test.min(), y_test.max()),color='red')

In [ ]:
df.hist(figsize=(15,8))
plt.show()

In [ ]:
df = df.drop('record_ID',axis=1)

In [ ]:
len(df.store_id.unique())

In [ ]:
len(df.sku_id.unique())

In [ ]:
df = df[df.units_sold < df.units_sold.quantile(0.99)]

In [ ]:
df

In [ ]:
df.units_sold.hist(bins=20)
plt.show()